@model MTA.Models.Mission

<br />

<h2 class="mb-5 text-center">Add mission</h2>

<br />

<form asp-action="New" asp-controller="Missions" method="post">

    <label asp-for="Name">Mission name</label>
    <br />
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    <br />

    <button type="submit" class="btn btn-success">Add mission</button>

</form>


