@model MTA.Models.Project

<h2 class="text-center mt-5" style="color: red;">Edit project</h2>

<br />

<div class="container mt-5" style="background-color: #f8f9fa; color: #000000;">
    <div class="row">
        <div class="col-md-6 offset-3">

            <form method="post" asp-action="Edit" asp-controller="Projects" asp-route-id="@Model.Id" enctype="multipart/form-data">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Title" class="form-label" style="color: black;">Project title</label>
                    <br />
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="Content" class="form-label" style="color: black;">Project content</label>
                    <br />
                    <textarea asp-for="Content" class="form-control summernote white-background"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="StartDate" style="color: black;">Start Date</label>
                    <input asp-for="StartDate" type="date" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EndDate" style="color: black;">End Date</label>
                    <input asp-for="EndDate" type="date" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="DepartmentId" style="color: black;">Select department</label>
                    <br />
                    <select asp-for="DepartmentId" asp-items="Model.Dept" class="form-control">
                        <option value="">Select department</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    <br />
                </div>

                <div class="form-group">
                    <label asp-for="Status" style="color: black;">Status</label>
                    <br />
                    <select asp-for="Status" class="form-control">
                        <option value="NotStarted">Not Started</option>
                        <option value="InProgress">In Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                    <br />
                </div>

                <div class="form-group">
                    <label for="file" style="color: black;">Upload / Replace Image</label>
                    <input type="file" name="file" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="video">Update/Replace Video (Optional)</label>
                    <input type="file" name="video" class="form-control" />
                </div>

                <button class="btn btn-sm btn-success" type="submit">Modify project</button>

            </form>
        </div>
    </div>
</div>
