@model MTA.Models.Project


<h2 class="text-center mt-5">Add project</h2>

<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">

            <form method="post" asp-action="New" asp-controller="Projects">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Title" class="form-label">Project title</label>
                    <br />
                    <input asp-for="Title" class="form-control" />

                    <span asp-validation-for="Title" class="text-danger"></span>

                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="Content" class="form-label">Project content</label>
                    <br />
                    <textarea asp-for="Content" class="form-control summernote"></textarea>

                    <span asp-validation-for="Content" class="text-danger"></span>

                    <br /><br />
                </div>

                <div class="form-group">
                    <label for="DepartmentId">Select department</label>
                    <br />
                    <select asp-for="DepartmentId" asp-items="Model.Dept" class="form-control">
                        <option value="">Select department</option>
                    </select>

                    <span asp-validation-for="DepartmentId" class="text-danger"></span>

                    <br />
                </div>
                <br />
                <button class="btn btn-success" type="submit">Add project</button>

            </form>
        </div>
    </div>
</div>


