@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Permanent+Marker&family=Roboto&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar {
    background-color: #000000 !important;
    border: none !important;
    box-shadow: 0 3px 12px #636e72 !important;
}

a.nav-link {
    color: #2c2c2c !important;
}

    a.nav-link:hover {
        color: #00b894 !important;
    }

.logoutbtn {
    color: #2c2c2c !important;
}

    .logoutbtn:hover {
        color: #00b894 !important;
    }

.note-editor .dropdown-toggle::after {
    display: none;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-logo {
    font-family: 'Permanent Marker', cursive;
}

    .font-logo:hover {
        color: #00b894 !important;
    }

.footer-position {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 3px 12px #636e72;
}

.truncate {
    /* Required declarations: */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    /* Limit the text block to x lines */
    -webkit-line-clamp: 5;
}

/* Army Theme Background */
.army-theme {
    background-color: #8B4513; /* Brownish color */
    background-size: cover;
    background-blend-mode: multiply;
    color: #ffffff; /* White text for better visibility */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Form Styling */
.army-form {
    background-color: rgba(44, 62, 80, 0.9);
    padding: 20px;
    border: 3px solid #00ff00;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.army-section {
    background-color: #8B4513; /* Brownish color */
    color: #ffffff; /* White text */
    padding: 20px;
    border: 3px solid #00ff00;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.army-image {
    max-width: 100%;
    height: auto;
    border: 3px solid #00ff00;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

    .army-image:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.9);
    }

.army-section h4 {
    font-family: 'Impact', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #f1c40f;
}

.white-background {
    background-color: #ffffff !important;
    color: #000000;
}

.almost-white-background {
    background-color: #f8f9fa;
    color: #000000;
}

