@model MTA.Models.Department


@{
    ViewBag.Title = "Edit department";
}

<h2>@ViewBag.Title</h2>


<form asp-action="Edit" asp-controller="Departments" asp-route-id="@Model.Id" method="post">

    <div class="form-group">
        <label asp-for="DepartmentName" class="form-label">Department name</label>
        <br />
        <input asp-for="DepartmentName" class="form-control" />
        <span asp-validation-for="DepartmentName" class="text-danger"></span>
    </div>

    <br />

    <button class="btn btn-success" type="submit">Modify department</button>

</form>



