model MTA.Models.Department
@{
    ViewBag.Title = "Show department";
}


<h2>@ViewBag.Title</h2>

<br />

<p>@Model.DepartmentName</p>


<form method="post" asp-controller="Departments" asp-action="Delete"
      asp-route-id="@Model.Id">

    <button class="btn btn-danger" type="submit">Delete department</button>

</form>

<br />

<a class="btn alert-success" href="/Departments/Index/">Show department list</a>

<br />
<hr />
<br />

